:root {
  --accent-color: #0000ff;
  --accent-rgb: 0,0,255;
  --accent-rgba: rgba(var(--accent-rgb), 1);

  --hero-stop-accent-1: rgba(0,0,255,0.5);
  --hero-stop-accent-2: rgba(0,0,255,0.1);
  --hero-stop-mid: rgba(255,255,255,0.05);
  --hero-end: rgba(255,255,255,0.1);

  --symbols-opacity: 0.4;
  --symbol-text-alpha: 0.3;

  --hero-text: #0f172a;
  --icon-sun-fill: 17 24 39;

  --accent-focus: rgba(var(--accent-rgb), 0.12);
}

html.dark {
  --accent-color: #0000ff;
  --accent-rgb: 0,0,255;
  --accent-rgba: rgba(var(--accent-rgb), 1);

  --hero-stop-accent-1: rgba(0,0,255, 0.20);
  --hero-stop-accent-2: rgba(0,0,255,0.10);
  --hero-stop-mid: rgba(3,37,65,0.60);
  --hero-end: rgba(3,37,65,1);

  --symbols-opacity: 0.18;
  --symbol-text-alpha: 0.18;

  --hero-text: #ffffff;
  --icon-sun-fill: 255 255 255;

  --accent-focus: rgba(var(--accent-rgb), 0.18);
}

a:focus { box-shadow: 0 0 0 4px var(--accent-focus); outline: none; border-radius: 6px; }
